# Mac OS X
.DS_Store

# Vim
*.swp

# Emacs
\#*#
*~

# KDE
.directory

# Eclipse
.project
.classpath
.settings

# Ctags and Cscope
tags
cscope.*

# Development
*.o
gmon.out
cuda_main
seq_main
omp_main
mpi_main
libpkmeans.so.1.0


# K-Means
profiles
*.cluster_centres
*.membership
*.bin
*.txt

# data
data
test
results.eps
